## EDA (entry, exit and goal forms)

In [1]:
import pandas as pd
import numpy as np

In [3]:
entry_form = pd.read_csv("./data/entry_forms.csv")
goal_form = pd.read_csv("./data/goal_setting.csv")
exit_form = pd.read_csv("./data/exit_forms.csv")

Entry Form

In [4]:
# Describe the entry form
entry_form.describe()

,Timestamp,Email,First Name,Last Name,Experience,Classification,Major,Minor,Graduation Date,Gender,Ethnicity,First Generation,International Student
count,24,24,24,24,24,24,24,16,24,24,24,24,24
unique,24,24,24,24,1,3,8,3,4,2,5,2,2
top,2024-01-10 09:00:00,student1@uh.edu,John,Doe,HON 3397,Junior,Computer Science,Data Science,May 2025,Male,White,No,No
freq,1,1,1,1,24,10,5,12,10,12,8,18,22

In [5]:
# Print the column names with their data types
for col in entry_form.columns:
    print(f"{col}: {entry_form[col].dtype}")

Timestamp: str
Email: str
First Name: str
Last Name: str
Experience: str
Classification: str
Major: str
Minor: str
Graduation Date: str
Gender: str
Ethnicity: str
First Generation: str
International Student: str

Exit Form

In [6]:
# Describe the exit form
exit_form.describe()

,Timestamp,Email,Experience,Goal 1 Progress,Goal 2 Progress,Goal 3 Progress,Goal 1 Connection,Goal 2 Connection,Goal 3 Connection,Teamwork Achieved,...,Recommend Friend Likelihood,Activity Class Discussion,Activity HPE DSI Short Course,Activity Class Presentations,Activity Weekly OneNote,Activity Peer Feedback,Activity Extra Credit,Biggest Lesson Learned,Experience Contribution,Additional Comments
count,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
unique,20,20,1,2,2,3,2,2,2,2,...,2,1,1,1,1,2,2,20,20,20
top,2024-05-10 09:00:00,student1@uh.edu,HON 3397,Lots,Lots,Lots,Largely,Largely,Largely,A lot,...,Extremely likely,Yes,Yes,Yes,Yes,Yes,Yes,Data analysis requires patience and iteration,Helped me develop critical thinking skills,Great experience overall
freq,1,1,20,12,11,10,15,19,15,11,...,14,20,20,20,20,17,12,1,1,1

In [7]:
# Print the column names with their data types
for col in exit_form.columns:
    print(f"{col}: {exit_form[col].dtype}")

Timestamp: str
Email: str
Experience: str
Goal 1 Progress: str
Goal 2 Progress: str
Goal 3 Progress: str
Goal 1 Connection: str
Goal 2 Connection: str
Goal 3 Connection: str
Teamwork Achieved: str
Professional Responsibility Achieved: str
Effective Communication Achieved: str
Problem Solving Achieved: str
Cultural Humility Achieved: str
Ethical Decision Making Achieved: str
Complete Minor Likelihood: str
Repeat Experience Likelihood: str
Pursue Career Likelihood: str
Recommend Friend Likelihood: str
Activity Class Discussion: str
Activity HPE DSI Short Course: str
Activity Class Presentations: str
Activity Weekly OneNote: str
Activity Peer Feedback: str
Activity Extra Credit: str
Biggest Lesson Learned: str
Experience Contribution: str
Additional Comments: str

Goal form

In [8]:
# Describe the goal form
goal_form.describe()

,Timestamp,Email,Experience,Goal 1,Goal 2,Goal 3,Teamwork Expected,Professional Responsibility Expected,Effective Communication Expected,Problem Solving Expected,Cultural Humility Expected,Ethical Decision Making Expected
count,20,20,20,20,20,20,20,20,20,20,20,20
unique,20,20,1,20,20,20,3,2,2,3,3,3
top,2024-01-15 09:00:00,student1@uh.edu,HON 3397,Improve data analysis skills,Learn Python programming,Build portfolio project,Moderate,Moderate,Moderate,A lot,Little,Moderate
freq,1,1,20,1,1,1,9,12,11,10,10,9

In [9]:
# Print the column names with their data types
for col in goal_form.columns:
    print(f"{col}: {goal_form[col].dtype}")

Timestamp: str
Email: str
Experience: str
Goal 1: str
Goal 2: str
Goal 3: str
Teamwork Expected: str
Professional Responsibility Expected: str
Effective Communication Expected: str
Problem Solving Expected: str
Cultural Humility Expected: str
Ethical Decision Making Expected: str